<div class='row'>
  <div class='twelve columns'>
    {{system-trend trends=model.trends vizId=systemVizSelector}}
  </div>
</div>
<div class='row'>
  <div class='twelve columns'>
    {{service-legend}}
  </div>
</div>
<div class='row'>
  <div class='twelve columns'>
    {{top-routes routeCompendiums=model.topRoutes}}
  </div>
</div>
{{service-selector labels=model.routeLabels}}
{{outlet}}
